//Code Jade

doctype html
html(lang="en")
  head
    title= "Mon site"
    body
        if (inscription == 1)
                    form(action="/register" method="POST") 
                    p Entrez votre pseudo (4 caractères minimum)
                    div     
                        input(name="name_register")
                    p Entrez votre email 
                    div     
                        input(name="email_register")
                    p Entrez votre mot de passe (6 caractères minimum) 
                    div     
                        input(name="password_register")
                    a(href="/register?register=2")    
                        input(type="submit" value="S'inscrire")
                    p Déjà un compte ?
                    a(href="/register?register=0")    
                        input(type="submit" value="Connectez vous ici")
                        
        if (name) || (session) 
            p= 'Bonjour ' + name + '!'
            form(action="/disconnect" method="POST") 
                div     
                    input(type="submit" value="Déconnexion")
        else if (inscription != 1)
            if (compteur > 0)
                p.text-danger Nom d'utilisateur ou mot de passe incorrect, réessayez.
            form(action="/login" method="POST") 
                p Entrez votre nom d'utilisateur ou adress e-mail
                div     
                    input(name="name")
                p Entrez votre mot de passe
                div     
                    input(type = "password" ,name="password")
                div     
                    input(type="submit" value="valider")
            p C'est la première fois que vous vous connectez ? Inscrivez vous ici !
            a(href= "/register?register=1")    
                    input(type="submit" value="S'inscrire")