//Code Jade

doctype html
html(lang="en")
  head
    title= "Mon site"
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    meta( name='description', content='Baking Bootstrap Snippets with Jade' )
    //- Bootswatch Theme
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    body
        if (inscription == 1)
             .row
                .col-md-4.col-sm-6.col-xs-12
                .col-md-4.col-sm-6.col-xs-12
                    .panel.panel-default
                        .panel-heading Inscription
                        .panel-body
                            form(action="/register" method="POST") 
                                p Entrez votre pseudo (4 caractères minimum)
                                div  
                                    input(name="name_register")
                                if (etat == 1)
                                    p.text-danger Nom d'utilisateur trop court, réessayez.
                                p Entrez votre email 
                                div   
                                    input(name="email_register")
                                if (etat == 2)
                                    p.text-danger Adresse e-mail non valide, réessayez.
                                p Entrez votre mot de passe (6 caractères minimum) 
                                div  
                                    input(type = "password" ,name="password_register")
                                if (etat == 3)
                                    p.text-danger Mot de passe trop court, réessayez.  
                                p Confirmez votre mot de passe 
                                div     
                                    input(type = "password" ,name="password_register_confirm")
                                if (etat == 4)
                                    p.text-danger Le mot de passe et sa confirmation sont différents, réessayez.
                                div  
                                    input(type="submit" value="S'inscrire")
                .col-md-4.col-sm-6.col-xs-12
                    .panel.panel-default
                        .panel-heading Connexion
                        .panel-body
                            p Déjà un compte ?
                            a(href="/register?register=0")    
                                input(type="submit" value="Connectez vous ici")
                        
        if (name) || (session) 
            .row
                .col-md-4.col-sm-6.col-xs-12
                    p les liens ayant eu le plus d’interactions
                .col-md-4.col-sm-6.col-xs-12
                    p section résumant les nouveautés qu’il y a eu depuis la dernière connexion pour les liens ou on avait interagi dans les dernière 24h. 
                .col-md-4.col-sm-6.col-xs-12
                    p autre chose
            form(action="/disconnect" method="POST") 
                div     
                    input(type="submit" value="Déconnexion")
        else if (inscription != 1)
            .row
                .col-md-4.col-sm-6.col-xs-12
                .col-md-4.col-sm-6.col-xs-12
                    .panel.panel-default
                        .panel-heading Connexion
                        .panel-body 
                            if (compteur > 0)
                                p.text-danger Nom d'utilisateur ou mot de passe incorrect, réessayez.
                            form(action="/login" method="POST") 
                                p Entrez votre nom d'utilisateur ou adresse e-mail
                                div     
                                    input(name="name")
                                p Entrez votre mot de passe
                                div     
                                    input(type = "password" ,name="password")
                                div     
                                    input(type="submit" value="valider")
                .col-md-4.col-sm-6.col-xs-12
                    .panel.panel-default
                        .panel-heading Inscription
                        .panel-body 
                            p C'est la première fois que vous vous connectez ? Inscrivez vous ici !
                            a(href= "/register?register=1")    
                                    input(type="submit" value="S'inscrire")